th{
	font-size:1.5em;
}
td{
	font-size:1em;
	text-align:center;
}
body{
	background-image: url("./bg/paper_background.jpg");
}
a:hover {
    text-decoration: underline;
}
a{
	color:black;
	text-decoration: none;
}