th{
	font-size:1.5em;
	font-family:"Copperplate Gothic Light";
}
td{
	font-size:1em;
	text-align:center;
	font-family:"Trajan Pro";
}
body{
	background-image: url("./bg/paper_back.jpg");
}
a:hover {
    text-decoration: underline;
}
a{
	color:black;
	text-decoration: none;
}