table{
	font-size:1.2em;
	font-family:"Squares Bold";
	color:white;
	background-color:black;
	padding: 15px;
	border-spacing: 15px;
}
th,tr{
	font-family:"Squares";
}
body{
	font-family:"Squares Bold";
	background-color:black;
}
a:hover {
    text-decoration: underline;
}
a{
	color:white;
	text-decoration: none;
}